.payment-info {
  font-family: Arial, sans-serif;
  width: 400px;
  padding: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.payment-info h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.payment-info ul {
  list-style-type: none;
  padding: 0;
}

.payment-info li {
  margin-bottom: 0.5rem;
}

.payment-info strong {
  color: #333;
}
